<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
    
    <title>Casa</title>

    <link rel="stylesheet" href="/public/stylesheets/style.min.css">
    <!--Conectando css-->
    <link href="/public/stylesheets/style.css" rel="stylesheet" >
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#">Casas</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarColor01">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/ver">Todas las Casas</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/actualizar">Actualizar<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/nuevo">Nueva Casa</a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Buscar una casa">
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Buscar</button>
          </form>
        </div>
      </nav>
      <div class="jumbotron">
          <h1>Actualizar una casa</h1>
          <form method="PUT" class="login100-form validate-form p-b-33 p-t-5">
            <div class="wrap-input100 validate-input" data-validate="Nombre del Dueño">
              <input class="form-control" type="text" name="owner" placeholder="Nombre del Dueño" id="owner_field">
              <span class="focus-input100" data-placeholder="&#xe82a;"></span>
            </div>
  
            <div class="wrap-input100 validate-input" data-validate="Ubicacion">
              <input class="form-control" type="text" name="Ubicacion" placeholder="Ubicacion" id="ubi_field">
              <span class="focus-input100" data-placeholder="&#xe80f;"></span>
                      </div>
            
                      <div class="wrap-input100 validate-input" data-validate="Numero de Habitaciones">
                              <input class="form-control" type="text" placeholder="Numero de Habitaciones" id="habi_field">
                              <span class="focus-input100" data-placeholder="&#xe80f;"></span>
                      </div>
                      <div class="custom-control custom-switch">
                          <input type="checkbox" class="custom-control-input" id="customSwitch1" checked="">
                          <label class="custom-control-label" for="customSwitch1">Tiene cochera?</label>
                        </div>
            <div class="container-login100-form-btn m-t-32">
                <button type="submit" class="btn btn-primary">Actualizar!</button>
            </div>
          </form>
        </div>